<!-- views/partials/navbar.handlebars -->

<nav id="mynavbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="brandtext" class="navbar-brand sello" href="/">
        DigiFridge.co
      </a>
    </div>



    <div class="pull-right">
        {{#if currentUser}}
        <a class="btn btn-info navbar-btn" id="addWordBtn">Add Word <i class="glyphicon glyphicon-plus"></i></a>
        <a class="btn btn-info navbar-btn" id="delWordBtn"><i class="glyphicon glyphicon-trash"></i></a>
        <a class="btn btn-info navbar-btn" id="addWordBtn">Logout<i class="glyphicon glyphicon-plus"></i></a>

        {{else}}
        <a href="/login" class="btn btn-info navbar-btn" id="addWordBtn">Login</a>
        <a href="/sign-up" class="btn btn-info navbar-btn" id="delWordBtn">Sign Up</a>
        {{/if}}
    </div>
    </div>
  </div>
</nav>
