<!-- views/partials/navbar.handlebars -->

<nav id="mynavbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="brandtext" class="navbar-brand sello" href="/">
        DigiFridge.co
      </a>
    </div>



    <div class="pull-right">
        <a class="btn btn-info navbar-btn" id="addWordBtn">Add Word <i class="glyphicon glyphicon-plus"></i></a>
    </div>
    </div>
  </div>
</nav>
