<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>DigiFridge</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/animate.css">
  <link rel="stylesheet" href="/dynamic.css">
  <link rel="stylesheet" href="/index.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="/socket.io/socket.io.js"></script>

  <script src="touch.js"></script>
  <script src='index.js'></script>

</head>
<body>
  {{> navbar}}
    <div style="margin-top: -20px;"></div>
    {{{body}}}





  <script src="https://www.2b2t.reviews/dist/wow.min.js"></script>
      <script>
       new WOW().init();
     </script>


</body>
</html>
