extends ./layout
block head

  link(href='testfridge.css' rel='stylesheet')
  


block body
  body
    .fridge
      .topdrawer
        .handle   
      .bottomdrawyer
        .handle#lowhand
    br
    br
