extends ./layout
block head
  link(href='index.css' rel='stylesheet')

  
block body
  .navbar
    .brand DigiFridge

    a.nav-link.btn#addWordBtn Add Word
  .fridge
    center  
      .myDiv.draggable#wordaddbox
        h3.titleText DigiFridge.co
        form.lineIt
          input#inputone(placeholder="Add New Word" name="paragraph" minlength="1")
          button.btn.btn-primary#subButton Submit
        p.titleText2 Move Your Fridge Magnets by clicking and dragging!
        
    .section2
      .parabox.draggable.prototype#wordbox
        p.paratext

   
    .trash.draggable.droppable#trashcan
