extends ./layout
block head
  link(href='index.css' rel='stylesheet')

  
block body
 .fridge
  center  
    .myDiv.draggable
      h3.titleText Fridge Magnets
      button.btn.btn-primary#reveal Add A Word
      .hidden#come
        form(method="Post").lineIt
          input#inputone(placeholder="Put Word Here" name="paragraph")
          button.btn.btn-primary#subButton(type ="submit") Submit
      p.titleText2 Move Your Fridge Magnets Below by clicking and dragging!
  .section2
    each paragraph in paragraphs
      .parabox.animated.fadeIn.draggable
        p.paratext= paragraph.text
 
  .trash.draggable
