extends ./layout
block head
  link(href='index.css' rel='stylesheet')

  
block body
 .fridge
  center  
    .myDiv.draggable
      h3.titleText DigiFridge - Mother Fridge
      button.btn.btn-primary#reveal Add A Word
      .hidden#come
        form.lineIt
          input#inputone(placeholder="Put Word Here" name="paragraph" minlength="1")
          button.btn.btn-primary#subButton Submit
      p.titleText2 Move Your Fridge Magnets Below by clicking and dragging!
   .section2
    .parabox.animated.fadeIn.draggable.prototype
      p.paratext

 
  .trash.draggable.droppable
