extends ./layout
block head
  title Fridge Magnets
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet")
  link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

  link(href='animate.css' rel='stylesheet')
  link(href='dynamic.css' rel='stylesheet')

  link(href='index.css' rel='stylesheet')
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="touch.js")
  script(src='index.js')
  
block body
 .fridge
  center  
    .myDiv.draggable
      h3.titleText Fridge Magnets
      button.btn.btn-primary#reveal Add A Word
      .hidden#come
        form(method="Post").lineIt
          input#inputone(placeholder="Put Word Here" name="paragraph")
          button.btn.btn-primary#subButton(type ="submit") Submit
      p.titleText2 Move Your Fridge Magnets Below by clicking and dragging!
  .section2
    each paragraph in paragraphs
      .parabox.animated.fadeIn.draggable
        p.paratext= paragraph.text
 
