doctype html
html
  head
    title Fridge Magnets
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

    link(href='animate.css' rel='stylesheet')
    link(href='dynamic.css' rel='stylesheet')

    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="touch.js")
    script(src='index.js')
    block head
    
    
  body
    block body
