<div class="fridge">

  <center>

    <div class="wordAdder draggable" id="wordaddbox">

      <h3 class="titleText">DigiFridge.co</h3>
      <form class="lineIt">
        <input id="inputone" placeholder="Add New Word" name="paragraph" minlength="1" />
        <button class="btn btn-primary" id="subButton">Submit</button>
      </form>
      <p class="titleText2">Move Your Fridge Magnets by clicking and dragging!</p>

    </div><!--word adder-->

  </center>

  <div class="section2">

    <div class="parabox draggable prototype" id="wordbox">

      <p class="paratext"></p>

    </div> <!--parabox-->

  </div><!--section 2 -->

  <div class="trash draggable droppable" id="trashcan"></div>


   <div class="window iffy draggable" id="resizable">
      <div class="titlebar">
        <div class="buttons">
          <div style="margin-left: 10px;" class="close">
            <a style="" class="closebutton" href="#"><span><strong>x</strong></span></a>
            <!-- close button link -->
         </div>
          <div class="minimize">
            <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
            <!-- minimize button link -->
         </div>
          <div class="zoom">
            <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
            <!-- zoom button link -->
          </div>
        </div>
        Fridge Browser
        <!-- window title -->
     </div>
      <div class="content">
        <!-- window content -->
       <div style="margin: 0 auto; width:100%; height:450px;;">
            <object type="text/html" data="http://localhost:3000"
                    style="width:100%; height:100%; margin:1%;">
            </object>
        </div>
      </div>
    </div>





</div> <!--fridge-->
