
body {
  background-color: lightgray;
}

.fridge {
  background-image: url('https://image.ibb.co/fsnjtb/IMG_3940.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: contain;
  padding-top: 0px;
  padding-bottom: 220%;
  background-attachment: scroll;
  position: absolute;
}

.wordAdder {
  margin-top: 70px;
  margin-bottom: 230px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .fridge {
    padding-top: 0px;
  }
  .wordAdder {
    margin-bottom: 300px;
  }
}



.go {
  color: #2c3e50;

}

.wordAdder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e67e22;
  width: 500px;
  border-radius: 10px;
  color: #2c3e50;
  /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);*/
  border-color: black;
  border-width: 2px;
  border-style: solid;
  transform: scale(1);
  transition: 200ms transform;
}

.titleText {
  margin-top: 30px;
  margin-bottom: 20px;
}



input {
  font-size: ;
  width: 90%;
  height: 33px;
}

#subButton {
  display: inline;
  height: 60%;
  font-size: 80%;
  margin-left: 5px;
}


.section2 {

  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap : wrap;

}

.parabox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e67e22;
  padding: 10px 10px 0px 10px;
  margin-right: 3px;
  border-radius: 15px;
  text-align: center;
  /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);*/
  border-color: black;
  border-width: 2px;
  border-style: solid;
  transform: scale(1);
  transition: .2s transform;
  width: auto;
  display: inline-block;
  position: absolute;
  top: auto;
  left: auto;
}

.paratext {
  width: auto;
}


.shadowit {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  cursor: move;
}

.deleteit {
  box-shadow: 0px 0px 11px 4px rgba(186,17,17,1);
  cursor: pointer;
}

.hidden {
display: none;
}

.shown {
  opacity: 100%;
}

#reveal {
  margin-bottom: 10px;
}

.lineIt {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.titleText2 {padding-top: 10px;}

form {
  padding-top: 10px;
}

.scale {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.prototype {
  display : None;
}

.trash {
  position: absolute;
  height: 130px;
  width: 80px;
  top: 240px;
  left: 300px;
  background: url('https://openclipart.org/image/2400px/svg_to_png/178545/trash-bin-empty.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s transform;
}


#mynavbar {

}

#brandtext {
  color: #e67e22;
}

#brandtext:hover{
  color: #c0392b;
  background-color: #ecf0f1;
}
