
body {
  background-color: lightgray;
}

.fridge {
  background-image: url('https://image.ibb.co/fsnjtb/IMG_3940.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: contain;
  padding-top: 0px;
  padding-bottom: 220%;
  background-attachment: scroll;
  position: absolute;
}

.wordAdder {
  margin-top: 70px;
  margin-bottom: 230px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .fridge {
    padding-top: 0px;
  }
  .wordAdder {
    margin-bottom: 300px;
  }
}



.go {
  color: #2c3e50;

}

.wordAdder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e67e22;
  width: 500px;
  border-radius: 10px;
  color: #2c3e50;
  /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);*/
  border-color: black;
  border-width: 2px;
  border-style: solid;
  transform: scale(1);
  transition: 200ms transform;
}

.titleText {
  margin-top: 30px;
  margin-bottom: 20px;
}



input {
  font-size: ;
  width: 90%;
  height: 33px;
}

#subButton {
  display: inline;
  height: 60%;
  font-size: 80%;
  margin-left: 5px;
}


.section2 {

  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap : wrap;

}

.parabox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e67e22;
  padding: 10px 10px 0px 10px;
  margin-right: 3px;
  border-radius: 15px;
  text-align: center;
  /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);*/
  border-color: black;
  border-width: 2px;
  border-style: solid;
  transform: scale(1);
  transition: .2s transform;
  width: auto;
  display: inline-block;
  position: absolute;
  top: auto;
  left: auto;
}

.paratext {
  width: auto;
}


.shadowit {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  cursor: move;
}

.deleteit {
  box-shadow: 0px 0px 11px 4px rgba(186,17,17,1);
  cursor: pointer;
}

.hidden {
display: none;
}

.shown {
  opacity: 100%;
}

#reveal {
  margin-bottom: 10px;
}

.lineIt {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.titleText2 {padding-top: 10px;}

form {
  padding-top: 10px;
}

.scale {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.prototype {
  display : None;
}

.trash {
  position: absolute;
  height: 130px;
  width: 80px;
  top: 240px;
  left: 300px;
  background: url('https://openclipart.org/image/2400px/svg_to_png/178545/trash-bin-empty.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .2s transform;
}


#mynavbar {

}

#brandtext {
  color: #e67e22;
}

#brandtext:hover{
  color: #c0392b;
  background-color: #ecf0f1;
}


/*******************
New Mac Window fridge
*******************/


span {
  line-height: 9px;
  vertical-align: 50%;
}

.window {
  background: #fff;
  width: 80vw;
  height: 75vh;
  margin: auto;
  margin-top: 12.5vh;
  border: 1px solid #acacac;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #acacac;
}

.titlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
}

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.content {
  padding: 10px;
}

/* window END */

/* content BEGIN */

h3 {
  margin-top: 0px;
}

/* content END */

/*******************
MAC WINDOW END
********************/

.browser {
  display: block;
  width: 100%;
  height: 100%;
}
